body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

input[type="text"],
input[type="password"],
button#loginBtn {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button#loginBtn {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button#googleLog {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button#googleLog {
    background-color: #fdfdfd;
    color: #fff;
    cursor: pointer;
    background-image: url('googlepng.png'); /* Replace 'google_logo.png' with your image file */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5%; /* Adjust the size of the image */
    padding-left: 20px; /* Add padding for the image */
}

button:hover {
    background-color: #0056b3;
}

#g-signin2 {
    margin-top: 20px;
}
